/* .banner-background {
  background-color: rgba(14,16,24);
  height: 300px;
  width: 900px;
  margin: 0px 100px;
  display: flex;
  filter: drop-shadow(100%);
}

.leftblock {
  width: 50%;
  min-width: 50%;
}

.rightblock {
  width: 50%;
  min-width: 50%;
}


.gaming-pc {
  width: 330px;
  height: 300px;
} */

.banner {
  color: white;
  display: flex;
  justify-content: center;
}

.banner-button {
  position: absolute;
  z-index: 1;
  width: 310px;
  height: 50px;
  top: 400px;
  right: 890px;
}

.banner-pic {
  width: 85vw;
  height: 85vh;
}